PORT=4002
MONGO_URI=mongodb://localhost:27017/asistencia_reports
ATTENDANCE_SERVICE_URL=http://localhost:4001
JWT_SECRET=change_this_shared_secret
ATTENDANCE_ENTRY_TIME=07:00
ATTENDANCE_GRACE_MINUTES=15
